[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats.git
[submodule "QYara"]
	path = QYara
	url = https://github.com/horsicq/QYara.git
[submodule "QOpenSSL"]
	path = QOpenSSL
	url = https://github.com/horsicq/QOpenSSL.git
